name: CI

on: # yamllint disable-line rule:truthy
  workflow_dispatch:
  workflow_call: # Add this to allow other workflows to call this one
  push:
    branches: [ main ]
    paths:
      - "**.go"
      - ".github/workflows/ci.yaml"
  pull_request:
    branches: [ main ]
    paths:
      - "**.go"
      - ".github/workflows/ci.yaml"

permissions:
  contents: read

defaults:
  run:
    shell: bash -Eeuo pipefail {0}

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  run:
    name: CI
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Check out code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          fetch-depth: 0

      - name: Install Go
        id: cache-go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version-file: 'go.mod'

      - name: Go mod download
        if: steps.cache-go.outputs.cache-hit != 'true'
        run: go mod download -x

      - name: Go Build
        run: CGO_ENABLED=0 GOOS=linux GOARCH=amd64 go build -ldflags="-w -s" -o /dev/null

      - name: golangci-lint
        uses: golangci/golangci-lint-action@e7fa5ac41e1cf5b7d48e45e42232ce7ada589601 # v9.1.0
        with:
          args: "--timeout=2m"
          skip-save-cache: true
          skip-cache: true
